/*Selects all elements*/
* {
  box-sizing: border-box;
}
body {
    font-family: "Montserrat", serif;
    margin: 0;
}
/* Fixed area style */
.static {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #303030;
    display: table;
    top: 0;
}
.static p {
    color: white;
    font-size: 25px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.wrapper1 {
    margin: 80px auto 0;
    width: 100%;
}
.wrapper1 img {
    width: 260px;
    height: 260px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}
.wrapper2 {
    margin: 10px auto 0;
    width: 50%; /*If doesn't look good - change to 600px*/
}
.wrapper2 p {
    color: #303030;
    font-size: 20px;
    text-align: center;
}
.wrapper3 {
    margin: 0 auto 0;
    background-color: #5DB267;
    width: 100%;
}
.wrapper3 p {
    padding-top: 40px;
    color: white;
    font-size: 25px;
    text-align: center;
}
/* Clear floats after the columns */
.row {
    display: table;
    width: 900px;
    margin: auto;
    background-color: #5DB267;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;

}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column, .row {
    width: 100%;
  }
}

.row .column p {
    color: #303030;
    font-size: 25px;
    text-align: center;
}
.row .column p span {
    color: white;
    font-size: 25px;
}
footer {
    display: table;
    width: 100%;
    margin: auto;
    background-color: #303030;

}
.wrapper4 {
    width: 35%;
    margin: auto;

}
.wrapper4 img {
    width: 150px;
    height: 150px;
    float: left;

}
.wrapper4 span {
    color: #5DB267;
    font-size: 15px;
}
.wrapper4 p {
    color: white;
    font-size: 15px;
    margin-top: 0;

}
/* Booking form CSS starts here https://www.w3schools.com/css/css_form.asp*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #5DB267;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: gray;
}
.booking {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: 900px;
    margin: auto;
}
.booking p {
    color: #303030;
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
}
