/*Selects all elements*/
* {
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
body {
    margin: 0;
}
/* Fixed area style */
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
    color: #5DB267;
}
.static {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #303030;
    display: table;
    top: 0;
}
.static p {
    color: white;
    font-size: 25px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.wrapper1 {
    margin: 80px auto 0;
    width: 100%;
}
.wrapper1 img {
    width: 260px;
    height: 260px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}
.wrapper2 {
    margin: 10px auto 0;
    width: 50%; /*If doesn't look good - change to 600px*/
}
.wrapper2 p {
    color: #303030;
    font-size: 20px;
    text-align: center;
}
.wrapper3 {
    margin: 0 auto 0;
    background-color: #5DB267;
    width: 100%;
}
.wrapper3 p {
    padding-top: 40px;
    color: white;
    font-size: 25px;
    text-align: center;
}
/* Clear floats after the columns */
.row {
    display: table;
    width: 900px;
    margin: auto;
    background-color: #5DB267;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;

}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column, .row {
    width: 100%;
  }
}

.row .column p {
    color: #303030;
    font-size: 25px;
    text-align: center;
}
.row .column p span {
    color: white;
    font-size: 25px;
}
footer {
    display: table;
    width: 100%;
    margin: auto;
    background-color: #303030;

}
.wrapper4 {
    width: 50%;
    margin: auto;

}
.wrapper4 img {
    width: 150px;
    height: 150px;
    float: left;

}
.wrapper4 span {
    color: #5DB267;
    font-size: 15px;
}
.wrapper4 p {
    color: white;
    font-size: 15px;
    margin-top: 0;

}
/* Booking form CSS starts here https://www.w3schools.com/css/css_form.asp*/
input[type=text],
input[type="email"],
input[type="date"],
input[type="tel"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #303030;
    font-size: 10px;
    background-color: #f8f8f8;
}
input[type=text]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  background-color: #bfbfbf;
}
input[type=submit] {
    width:100px;
    margin-top: 10px;
    padding: 10px;
    background-color: #5DB267;
    color: #303030;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}
input[type=submit]:hover {
    background-color: #bfbfbf;
    cursor: pointer;
}
#booking {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin: auto;
}
#booking p {
    color: #303030;
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
}
form {
    width: 50%;
    margin: auto;
    font-size: 15px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #303030;
    font-size: 10px;
    resize: none;
}
